//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.hmrc-timeline__event-content {
    @include govuk-font($size: 16);
}

.hmrc-timeline {
    border-left: 0;
}

.hmrc-timeline__event {
    border-left: 5px solid govuk-colour('black');
}

.hmrc-timeline__event-title:before {
    background-color: govuk-colour('black');
}

.app-main-timeline {
    .hmrc-timeline {
        display: grid;
        grid-template-columns: auto 2fr;
        list-style-type: none;
    }

    .hmrc-timeline__event {
        border-left: var(--app-timeline-event-border-style, solid) 5px;
    }

    .app-phase {
        grid-column: 1;
        padding-block: 30px;
    }

    .app-phase h2 {
        position: relative;
    }

    .app-phase h2::before {
        left: -15px;
    }

    .app-phase time {
        margin-bottom: 0;
    }

    .app-phase:first-child {
        padding-top: 0;
    }

    .app-phase-placeholder {
        grid-column: 2;
    }

    .app-phase-branch {
        grid-column: 1;
        border: var(--app-timeline-event-border-style, solid) 5px;
    }

    .app-event {
        grid-column: 2;
        border-left: 0;
    }

    [data-service-phase-title="Alpha"] {
        --app-timeline-event-border-style: dotted;
    }

    [data-service-phase-title="Beta"] {
        --app-timeline-event-border-style: dashed;
    }
}
