{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      08 December 2023 - Released GOV.UK Frontend v5.0.0
    </h1>

    <p>This is a cool release, and quite a long time in the making.</p>

    {% set exampleContent1 %}<p class="govuk-body">Some content quickly describing the release.</p>{% endset %}

    {{ appTimeline({
      headingLevel: "2",
      events: [
        {
          title: 'Release GOV.UK Frontend v5.0.0-beta-2',
          datetime: '2020-07-14',
          time: '14 July 2020',
          content: exampleContent1
        },
        {
          title: 'Release GOV.UK Frontend v5.0.0-beta-1',
          datetime: '2020-07-14',
          time: '14 July 2020',
          content: exampleContent1
        },
        {
          title: 'Release GOV.UK Frontend v5.0.0-beta-0',
          datetime: '2020-07-14',
          time: '14 July 2020',
          content: exampleContent1
        }
      ]
    }) }}
  </div>
</div>

{% endblock %}
