{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="moj-filter-layout">

  <div class="moj-filter-layout__filter">

    {{ mojFilter({
      heading: {
        text: 'Filter'
      },
      selectedFilters: {

        heading: {
          text: 'Selected filters'
        },

        clearLink: {
          text: 'Clear filters'
        },

        categories: [
          {
            heading: {
              text: 'TODO'
            },
            items: [{
              href: '#',
              text: 'Render active filters'
            }]
          }
        ]
      },
      optionsHtml: '<p><strong>TODO</strong>: Render the filter form</p>'
    }) }}

  </div>
  <div class="moj-filter-layout__content">

    <div class="app-filter-toggle-wrapper"></div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half app-phases">
    {{ appTimeline({
      headingLevel: "2",
      events: allEvents | rejectattr('parent') | sort(false, false, 'datetime')
    }) }}
  </div>
  <div class="govuk-grid-column-one-half app-events">
    {{ appTimeline({
      headingLevel: "2",
      events: allEvents | rejectattr('parent') | sort(false, false, 'datetime')
    }) }}
  </div>
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">You are here</h2>
    <p class="govuk-body">Find out how you can contribute to the team on our <a href="https://design-system.service.gov.uk/community/roadmap/" class="govuk-link">roadmap page</a></p>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script>
    new MOJFrontend.FilterToggleButton({
      bigModeMediaQuery: "(min-width: 48.063em)",
      startHidden: true,
      toggleButton: {
        container: $(".app-filter-toggle-wrapper"),
        showText: "Show filter",
        hideText: "Hide filter",
        classes: "govuk-button--secondary",
      },
      closeButton: {
        container: $(".moj-filter__header-action"),
        text: "Close",
      },
      filter: {
        container: $(".moj-filter"),
      },
    });

  </script>
{% endblock %}
