{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="moj-filter-layout">

  <div class="moj-filter-layout__filter">

    {{ mojFilter({
      heading: {
        text: 'Filter'
      },
      selectedFilters: {

        heading: {
          text: 'Selected filters'
        },

        clearLink: {
          text: 'Clear filters'
        },

        categories: [
          {
            heading: {
              text: 'TODO'
            },
            items: [{
              href: '#',
              text: 'Render active filters'
            }]
          }
        ]
      },
      optionsHtml: '<p><strong>TODO</strong>: Render the filter form</p>'
    }) }}

  </div>
  <div class="moj-filter-layout__content">

    <div class="app-filter-toggle-wrapper"></div>

    <style>
      /* Generate grid areas for each service phase to help positioning
         according to the number of events they contain.
         This allows to have named lines for the start and end of each area
         which will simplify the assignment of `grid-row-start` and `grid-row-end` later */
      .app-main-timeline .hmrc-timeline {
        grid-template-areas: {% for servicePhaseTitle, eventsCount in eventsPerPhases %}
          "{{servicePhaseTitle}}-heading {{servicePhaseTitle}}-heading"
          {% for i in range(0, eventsCount) %}
            "{{servicePhaseTitle}} {{servicePhaseTitle}}"
          {% endfor %}
        {% endfor %};
      }

      {% for servicePhaseTitle, eventsCount in eventsPerPhases %}
        .app-phase-branch[data-service-phase-title="{{servicePhaseTitle}}"] {
          grid-row-start: {{servicePhaseTitle}}-start;
          grid-row-end: {{servicePhaseTitle}}-end;
          border-bottom: var(--app-timeline-event-border-style) 5px;
        }
      {% endfor %}
    </style>

    <div class="app-main-timeline">
      {{ appTimeline({
        headingLevel: "2",
        events: allEvents | rejectattr('parent') | sort(false, false, 'datetime')
      }) }}
    </div>
  </div>
</div>




{% endblock %}§
§
{% block pageScripts %}
  <script>
    new MOJFrontend.FilterToggleButton({
      bigModeMediaQuery: "(min-width: 48.063em)",
      startHidden: true,
      toggleButton: {
        container: $(".app-filter-toggle-wrapper"),
        showText: "Show filter",
        hideText: "Hide filter",
        classes: "govuk-button--secondary",
      },
      closeButton: {
        container: $(".moj-filter__header-action"),
        text: "Close",
      },
      filter: {
        container: $(".moj-filter"),
      },
    });

  </script>
{% endblock %}
