{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    {% set exampleContent2 %}
      <p class="govuk-body">We released a new version of GOV.UK Frontend</p>
      <p class="govuk-body"><a class="govuk-link" href="/releases/5-0-0">Discover the build up to the release</a></p>
    {% endset %}
    {% set exampleContent1 %}
      <p class="govuk-body"
    {% endset %}
    

    {{ appTimeline({
      headingLevel: "2",
      events: [
        {
          title: 'Released GOV.UK Frontend v5.0.0',
          datetime: '2023-12-08',
          time: '08 December 2023',
          content: exampleContent2
        },
        {
          title: 'Checking your claim',
          datetime: '2020-07-14',
          time: '14 July 2020',
          content: exampleContent1
        }
      ]
    }) }}
  </div>
</div>

{% endblock %}
